<div>
  <mat-toolbar color="primary">
    <span>File Generator</span>
  </mat-toolbar>
  <br>
  <form name="editForm" role="form" (ngSubmit)="save()" novalidate [formGroup]="editForm">
    <h1 class="title">Select Resources</h1>
    <div class="container-button">
      <mat-radio-group formControlName="resources" aria-label="Select an option">
        <mat-radio-button class="checkbox" value="posts">Posts</mat-radio-button>
        <mat-radio-button class="checkbox" value="comments">Comments</mat-radio-button>
      </mat-radio-group>
      <h1 class="title">Select Action</h1>
      <mat-radio-group formControlName="action" aria-label="Select an option">
        <mat-radio-button class="checkbox" value="get">Get</mat-radio-button>
        <mat-radio-button class="checkbox" value="create">Create</mat-radio-button>
        <mat-radio-button class="checkbox" value="update">Update</mat-radio-button>
        <mat-radio-button class="checkbox" value="patch">Patch</mat-radio-button>
        <mat-radio-button class="checkbox" value="delete">Delete</mat-radio-button>
      </mat-radio-group>
      <h1 class="title">Select Format</h1>
      <mat-radio-group formControlName="fileFormat" aria-label="Select an option">
        <mat-radio-button class="checkbox" value="json">JSON</mat-radio-button>
        <mat-radio-button class="checkbox" value="xml">XML</mat-radio-button>
      </mat-radio-group>
      <div style="width: 100%;">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile class="mat-grid-tile">
            
            <div>
              <ng-container formGroupName="requestModelPost" *ngIf="resource === 'posts'">
                <mat-form-field *ngIf="action !== 'create'" class="example-full-width" appearance="fill">
                  <mat-label>Id</mat-label>
                  <input formControlName="id" matInput type="number" placeholder="Id">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>Title</mat-label>
                  <input formControlName="title" matInput type="text" placeholder="Title">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>Body</mat-label>
                  <input matInput formControlName="body" type="text" placeholder="Body">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>User Id</mat-label>
                  <input formControlName="userId" matInput type="number" placeholder="User Id">
                </mat-form-field>
              </ng-container>

              <ng-container formGroupName="requestCommentModel" *ngIf="resource === 'comments'">
                <mat-form-field *ngIf="action !== 'create'" class="example-full-width" appearance="fill">
                  <mat-label>Id</mat-label>
                  <input formControlName="id" matInput type="number" placeholder="Id">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>Name</mat-label>
                  <input formControlName="name" matInput placeholder="Name" type="text">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput placeholder="email" type="text">
                </mat-form-field>
    
                <mat-form-field *ngIf="action === 'create' || action === 'patch' || action === 'update'" class="example-full-width" appearance="fill">
                  <mat-label>Body</mat-label>
                  <input formControlName="body" matInput placeholder="Id" type="text">
                </mat-form-field>
              </ng-container>
            </div>







          </mat-grid-tile>
          <mat-grid-tile *ngIf="extension === 'json'" class="mat-grid-tile"><pre>{{data | json}}</pre></mat-grid-tile>
          <mat-grid-tile *ngIf="extension === 'xml'" class="mat-grid-tile"><pre>{{data}}</pre></mat-grid-tile>
        </mat-grid-list>
      </div>
      <button mat-raised-button color="primary">Execute</button>
    </div>
  </form>
</div>
